.header{
	text-align: center;
	margin-top: 15px;
}

.sub-header{
	text-align: center;
	margin-top: 10px;
	font-size: 42px;
	font-family: 'Open Sans', sans-serif;
	color: rgb(85, 85, 85);
}

.sub-header-2{
	text-align: center;
	margin-top: 15px;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	color: rgb(85, 85, 85);
}

.main{
	display: block;
	margin: 0 auto;
	width: 354px;
	height: 320px;
	margin-top: 20px;
	text-align: center;
	background: rgb(247, 247, 247);
	border-radius: 2px;
	border-left-style: solid;
	border-left-color: lavender;
	border-right-style: solid;
	border-right-color: lavender;
	border-bottom-style: solid;
	border-bottom-color: #C9C0C0;
	border-width: 1px 1px 2px 1px;
}

.signin-avatar{
	display: inline-block;
	margin-top: 40px;
}

.input-mail{
	margin: 0 auto;
	margin-top: 20px;
	width: 260px;
	height: 30px;
	font-size: 16px;
	font-family: arial, sans-serif;
	padding: 8px;
	color: rgb(85, 85, 85);
	border: 1px solid;
	border-color: #d9d9d9;
}

.next-button{
	width: 278px;
	height: 38px;
	margin-top: 5px;
	font-size: 13px;
	font-family: arial, sans-serif;
	font-weight: 600;
	background: #4d90fe;
	color: white;
	border-radius: 4px;
	border: 1px solid;
	border-color: #3079ed;
}

.find-acc{
	display: inline-block;
	width: auto;
	height: auto;
	text-align: right;
	font-family: arial, sans-serif;
	font-size: 13px;
	margin-top: 10px;
	margin-left: 180px;
}

.find-acc:hover{
	color: #427fed;
	text-decoration: underline;
}

.create-acc{
	display: block;
	margin: 0 auto;
	width: 260px;
	height: 30px;
	text-align: center;
	margin-top: 20px;
	font-size: 14px;
	font-family: arial, sans-serif;
}

.create-acc:hover{
	color: #427fed;
	text-decoration: underline;
}

.one-google{
	display: block;
	margin: 0 auto;
	width: 700px;
	height: 15px;
	text-align: center;
	font-family: arial, sans-serif;
	font-size: 14px;
	color: rgb(85, 85, 85);
	margin-top: 30px;
}

.icons{
	display: block;
	margin: 0 auto;
	width: 700px;
	height: 22px;
	text-align: center;
	margin-top: 8px;
}

.icon-2{
	display: inline-block;
	margin: 5px;
}

.footer{
	position: absolute;
	display: inline-block;
	height: 28px;
	width: 100%;
	bottom: 0;
	background-color: rgb(247, 247, 247);
	border-top: 1px solid;
	border-top-color: #d9d9d9;
	

}

.foot-link1{
	display: inline-block;
	color: rgb(85, 85, 85);
	font-family: arial, sans-serif;
	font-size: 11px;
	font-weight: 300;
	margin-left: 30px;
	margin-top: 10px;
}

.foot-link{
	display: inline-block;
	color: rgb(85, 85, 85);
	font-family: arial, sans-serif;
	font-size: 11px;
	font-weight: 300;
	margin-left: 20px;
	margin-top: 10px;
}

.footer-right{
	display: inline-block;
	float: right;	
}

.lang-icon{
	display: inline-block;
	margin-top: 5px;
	margin-right: 5px;

}

.select-lang{
	display: inline-block;
	text-align: left;
	height: 22px;
	width: 150px;
	font-size: 13px;
	font-family: arial, sans-serif;
	background: rgb(247, 247, 247);
	border-color: #404040;
	border-width: 1px;
	border-radius: 2px;
	margin-right: 70px;
	margin-top: 2px;
}